@tailwind base;
@tailwind components;
@tailwind utilities;

.reveal {
  opacity: 0;
  padding-top: 100px;
}

.reveal.active {
  opacity: 1;
  padding-top: 0;
  transition: 1s;
}

.active.fade-bottom {
  padding-top: 0;
  transition: 1s;
}
.active.fade-left {
  padding-top: 100px;
}

.active.fade-right {
  animation: fade-right 0.8s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(-25%) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
